name: Deploy Static HTML to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v3

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3  # ← الإصدار الجديد المدعوم
        with:
          path: ./  # root لأنه كل الملفات موجودة هنا

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
